##All variable values are for example

DATABASE_URL=postgres://admin:admin@db:5432/testbase
SECRET_KEY=django-insecure-******************************

#Allowed hosts (if several) should be metioned in the following form: ALLOWED_HOSTS=host1,host2,host3
ALLOWED_HOSTS=*

#Application debug mode. 
#Note that if no boolean value will be provided in '.env' file for this varaible, debug mode for application will be set to "False" by default.
DEBUG_MODE=False

#Startup database options
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=testbase

#Login and password for PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password1
